@{
	var image_b64 = ViewData["image_data"] as String;
	var image_b64_sm = ViewData["image_data_sm"] as String;
	var board = ViewData["Board"] as String[,];
	var boardSize = (int?)ViewData["Size"];
	Layout = null;
}


<div class="text-center">

	<div class="uploadedImageContainer">
		<div class="uploadedImage">
			<img id="originalImage" src="@image_b64"/>
		</div>
		<div class="uploadedImage">
			<img id="resizedImage" src="@image_b64_sm"/>
		</div>
	</div>
	
	<div id="mainBoard" class="mainBoard">
		@for (int i = 0; i < boardSize; i++)
		{
			<div class="row">
				@for (int j = 0; j < boardSize; j++)
				{
					<div id="cell_@i/@j" class="cell" style="background: @board?[i, j]"></div>
				}
			</div>
		}
	</div>
	
	<div class="uploadContainer">
    				<div class="sliderContainer">
    					Threshold: 
    					<input id="threshold" name="threshold" type="range" min="1" max="100" value="50" 
    					       hx-post='/UpdateThreshold'
    					       hx-target='#mainBoard'
    					       hx-swap="outerHTML"
    					       hx-include="#filename">
    				</div>
    				Invert:
    				<input type="checkbox" id="invert" name="invert" value="true" 
    				       hx-post='/UpdateThreshold'
    				       hx-target='#mainBoard'
    				       hx-swap="outerHTML"
    				       hx-include="#filename">
    				
    				
    				<div class="buttonContainer">
    					<button id="saveBtn" class="btn btn-primary btn-success"
    					        hx-encoding='multipart/form-data'
    					        hx-post="/Upload/Save"
    					        hx-target="body"
    					        hx-include="#filename">
    					Save
    					</button>
    				</div>
    			</div>
	
</div>
