<script src="~/lib/htmx/htmx.min.js"></script>

<div class="text-center">
	<h3 class="display-4">Upload some pixels...</h3>
   
	<div class="fileUploadContainer">
		<form id='form' hx-encoding='multipart/form-data' hx-post='/OnPostUploadAsync' hx-swap="innerHTML" hx-target="#imageResponse">
			<input type='file' name='formFile'>
			<button>
				Upload
			</button>
			<progress id='progress' value='0' max='100'></progress>
			<div class="sliderContainer">
				Treshold: <input name="treshold" type="range" min="1" max="100" value="50" hx-post='/OnPostUploadAsync'>
			</div>
		</form>
	</div>
	<div id="imageResponse">
		<!-- Image will be displayed here -->
	</div>
</div>

<script>
	htmx.on('#form', 'htmx:xhr:progress', function (evt) {
		htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
	});
</script>


