<script src="~/lib/htmx/htmx.min.js"></script>

<div class="text-center">
	<h3 class="display-4">Upload some pixels &#128126; </h3>
   
	<div class="fileUploadContainer">
		<form id='form' hx-encoding='multipart/form-data' hx-post='/OnPostUploadAsync' hx-swap="innerHTML" hx-target="#imageResponse">
			<div class="uploadContainer">
				<input id="formFile" type='file' name='formFile' class="form-control">

				<button class="btn btn-primary btn-success">
					Upload
				</button>
			</div>
			
			<div class="uploadContainer">
				<progress id='progress' class="progress-bar" value='0' max='100'></progress>
			</div>
		</form>

		<div id="imageResponse">
			<!-- Images will be displayed here -->
		</div>
		
		<input type="hidden" name="filename" id="filename">
			
			
	</div>
</div>

<script>
	htmx.on('#form', 'htmx:xhr:progress', function (evt) {
		htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
	});
</script>


<script>
	// Needed to include the filename as htmx paylooad (WIP)
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('formFile').addEventListener('change', function(e) {
            var fileName = e.target.value.split('\\').pop();
            document.getElementById('filename').value = fileName;
        });
    });
</script>
