@{
    var boardSize = (int) ViewData["Size"];
}

<script src="~/lib/htmx/htmx.min.js"></script>


<div class="text-center">
    <h3 class="display-4">Cellular Automata &#128125;</h3>
    <p></p>
    
    <div id="mainBoard" class="mainBoardContainer"
         hx-get="/Home/GetBoard?size=@boardSize"
         hx-trigger="load"
         hx-swap="outerHTML">
    </div>
    
    <div class="genCountContainer">
        Generations:&nbsp; <div id="genCount">0</div>
    </div>
    
    <div id="colorBarContainer"></div>
    
    <div class="buttonContainer">
        <input type="color" id="colorAutomata" value="#DD3333">
        <button id="btnReset" class="btn btn-light" class="btn btn-primary">&#8634;</button>
        <button id="btnStart" class="btn btn-light" class="btn btn-primary">&#9205;</button>
        <button id="btnMinus" class="btn btn-light" class="btn btn-primary">&#10134;</button>
        <button id="btnPlus" class="btn btn-light" class="btn btn-primary">&#10133;</button>
        Size: <input type="range" min="10" max="100" value="@boardSize" class="slider" id="sizeSlider" name="size"
                     hx-get="/Home/GetBoard"
                     hx-trigger="input" 
                     hx-target="#mainBoard" 
                     hx-swap="outerHTML">
    </div>

</div>

<script src="~/js/auto.js" asp-append-version="true"></script>

<script>
    var boardSize = @boardSize;
</script>

