html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 90vh;
}

.display-4 {
    font-size: 2vh;
}

.mainBoard {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.row {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.cell {
    margin: -1px;
    width: 2vw;
    height: 2vw;
    max-width: 20px;
    max-height: 20px;
    border: 1px solid #808080;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color-sample {
    width: 40px;
    height: 20px;
}

.buttonContainer {
    margin-top: 2vh;
}

table {
    border: 0
}

.commslog-data {
    font-family: Consolas, Courier New, Courier, monospace;
}

.commslog-server {
    background-color: red;
    color: white
}

.commslog-client {
    background-color: green;
    color: white
}

.uploadedImageContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#originalImage{
    width: 30vw;
}

#resizedImage{
    width: 30vw;
}

.sliderContainer {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

#formFile {
    max-width: 50vw;
}

.fileUploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 50vw;    
    border-radius: 3px;
    background-color: green;
}

.uploadContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

#editInput{
    margin-left: 25%;
    width: 50%;
}

.previewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}