html {
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
    scroll: none;
}

a{
    color: #6a6a6a;
}

.display-4 {
    font-size: 2vh;
}

.mainBoardContainer {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainBoard {
    
}

.row {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.cell {
    margin: -1px;
    border: 1px solid #808080;
    padding: 0;
    cursor: pointer;
    height: min(20px, max(5px, min(2vh, 2vw)));
    width: min(20px, max(5px, min(2vh, 2vw)));
    flex-grow: 1;
}

.color-sample {
    width: 40px;
    height: 20px;
}

.buttonContainer {
    margin-top: 2vh;
}

table {
    border: 0
}

.commslog-data {
    font-family: Consolas, Courier New, Courier, monospace;
}

.commslog-server {
    background-color: red;
    color: white
}

.commslog-client {
    background-color: green;
    color: white
}

.uploadedImageContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#originalImage{
    width: 30vw;
}

#resizedImage{
    width: 30vw;
}

.sliderContainer {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

#formFile {
    max-width: 50vw;
}

.fileUploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 50vw;    
    border-radius: 3px;
    background-color: green;
}

.uploadContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#editInput{
    margin-left: 25%;
    width: 50%;
}

.previewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.colorPickerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 5px
}

.imgPreview{
    max-width: 50px;
}

.imgPreviewContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.small-btn{
    margin: 5px;
    width: 25px;
}

.btn:hover{
    background-color: #dd3333;
    color: white;
}

.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    font-size: 1vh;
    font-weight: bold;
}

.pageLink{
}

.genCountContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.genCount{
    margin: 5px;
}

#colorBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 5vh;
}