@model MyWebApplication.Models.BoardImageCellsViewModel


<script src="~/lib/htmx/htmx.min.js"></script>

<h1>Saved Boards</h1>

<p>
    <a asp-action="Create">New Board</a>
</p>

<div class="table" id="boardTable">

</div>

<div id="more-link"
     hx-post="/Board/List?offset=0"
     hx-trigger="load"
     hx-target="#boardTable"
     hx-swap="beforeend"
     hidden>
</div>

    

