@model MyWebApplication.Models.BoardImageCellsViewModel


<script src="~/lib/htmx/htmx.min.js"></script>

<h1>Saved Boards</h1>

<p>
    <a asp-action="Create">New Board</a>
</p>

<div class="table" id="boardTable">
        
</div>

    
<button id="more-link" class="btn btn-light moreLink"
        hx-post="/Board/More?offset=0"
        hx-trigger="revealed"
        hx-swap="afterend"
        hx-target="#boardTable" hidden>
</button>

