@model Board

@{
    Layout = "_Layout";
    ViewData["Title"] = "MyBoard";
    var board = ViewData["Board"] as String[,];
    var boardSize = (int?) ViewData["Size"];
    var boardId = (int) ViewData["BoardId"];
    var boardName = ViewData["BoardName"];
}

<script src="~/lib/htmx/htmx.min.js"></script>

<div class="text-center">
    <h3 id="boardName" class="display-4">@boardName</h3>
    <h3><input asp-for="Name" id="editInput" class="display-4" type="text" style="display: none;" /></h3>
    <p></p>
    <div class="mainBoard">
        @for (int i = 0; i < boardSize; i++)
        {
            <div class="row">
                @for (int j = 0; j < boardSize; j++)
                {
                    <div onclick="clickCell(@i,@j)" id="cell_@i/@j" class="cell" style="background: @board?[i, j]"></div>
                }
            </div>

        }
    </div>
    <div class="buttonContainer">
        <button id="nuke-btn" class="btn btn-light">
            <i class="fa-solid fa-bomb"></i>
        </button>
        <!--<p>Socket state: <span id="stateLabel">Ready to connect...</span></p>-->
        <div class="colorPickerContainer">    
            Color: <input type="color" id="html5colorpicker" onchange="pickColor(this)" value="#DD3333">
        </div>
        <button id="eraser-btn" class="btn btn-light">
            <i class="fa-solid fa-eraser"></i>
        </button>
    </div>
    
</div>

<script>
    var boardId = @boardId;
    var boardSize = @boardSize;
</script>

<script src="~/js/home.js" asp-append-version="true"></script>

